// Using BEM b-[block]-[element]__[modifier]
// =========================================

// Forms
.b-form
	padding: 100px 20px
	
	.b-form-heading
		padding-top: 20px

// Pages
.b-page-heading 
	margin-top: 20px

.b-error
	margin-top: 50px

/* 	Components */
.b-table
	min-width: 100%

/* Labels */
.paused-label
	@include label($bg: #f08a24)

.running-label,
.active-label
	@include label($bg: $success-color)

.blocked-label
	@include label($bg: $alert-color)

.active-label:hover,
.blocked-label:hover
	color: $label-font-color-alt
