.group--tablecontainer
	padding: 50px 20px

.group--fields
	border-spacing: 0
	border-collapse: collapse

	tr
		vertical-align: top

	td
		padding: 9px 5px

	.checkbox-fieldset
		display: inline-block
		position: relative
		vertical-align: top

		label
			margin-left: 0

		.textfield-floating
			display: none
			position: absolute
			z-index: 99
			padding: 10px
			background: rgba(0, 0, 0, .8)
			border-radius: 5px
			-moz-border-radius: 5px

			&:after
				content: ""
				position: absolute
				top: -20px
				border: 10px solid rgba(0, 0, 0, .8)
				border-top-color: transparent
				border-right-color: transparent
				border-left-color: transparent

			input
				position: relative
				min-width: 150px