@import url(http://fonts.googleapis.com/css?family=Armata);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

body 
{
	margin: 0;
	font-family:'Armata', sans-serif;
	/*text-align:center;*/
	font-size: 15px;
	line-height: 1.5em;
	color: #333;
}

code
{
	font-size: 16px;
}

input, 
button,
select
{
	font-family: 'Oxygen Mono', monospace;
	padding: 2px;
}

/*
input[type=text],
input[type=password],
input[type=email],
select
{
	min-width: 200px;
}
*/

label
{
	vertical-align: top;
}

fieldset
{
	border: 0;
	background-color: rgba(255,255,255,0.5);
	border: solid 1px rgba(0,0,0,0.1);
	margin: 4px 0;
}

form.user_create
{
	background: rgba(175,225,205,0.3);
	padding: 10px;
	border: solid 1px rgba(175,225,205,0.75);
}

form.user_create label
{
	min-width: 200px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

form.role_create
{
	background: rgba(175,205,225,0.3);
	padding: 10px;
	border: solid 1px rgba(175,205,225,0.75);
}

form.role_create label
{
	min-width: 200px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

form.group_create
{

}

form.group_create label
{
	min-width: 200px;
	display: inline-block;
	text-align: right;
}

form.session_create
{
	background: rgba(205,205,205,0.3);
	padding: 10px;
	border: solid 1px rgba(205,205,205,0.75);
}

form.session_create label
{
	min-width: 150px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

a, a:visited 
{
	text-decoration:none;
	color: #08a;
	font-weight: 600;
}

.button
{
	font-family: 'Oxygen Mono', monospace;
	font-weight: normal;
	padding: 2px 8px;
	background-color: #eee;
	border: solid 1px #bbb;
	display: inline-block;
	margin: 0 8px;
}

.button.danger
{
	background-color: #fea;
	border: solid 1px #db8;
}

h1 
{
	font-size: 32px;
	line-height: 1.5em;
	margin: 16px 0 0 0;
}

.system
{
	font-family: 'Oxygen Mono', monospace;
	color: #555;
	border: dotted 1px #aaa;
	padding: 4px 10px;
	margin: 10px 0;
}

.label
{
	min-width: 150px;
	margin-right: 20px;
	font-size: 16px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.welcome 
{
	width: 800px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -100px;
	text-align: center;
}

.top-bar
{
	position: relative;
	height: 50px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	margin:0;
	padding: 0px;
}

.top-bar .top-bar--content
{
	line-height: 50px;
}

.top-bar a
{
	color: #eff;
	font-weight: normal;
}

.top-bar--user
{
	font-size: 85%;
	position: absolute;
	right: 20px;	
}

.top-bar--menu
{
	margin: 0 20px;
}

.top-bar--menu .menu--item
{
	display: inline-block;
	padding: 0 20px;
}

.top-bar--menu .menu--item:hover
{
	background: rgba(255,255,255,0.2);
}

.content
{
	margin: 0 20px 20px 20px;
}

.flashmessage
{
	color: #fff;
	text-align: center;
	background-color: #08a;
	line-height: 30px;
}

.form-field-inline
{
	display: inline-block;
	margin-bottom: 10px;
}

.form-error
{
	color: #c30;
	font-weight: normal;
	font-family: 'Oxygen Mono', monospace;
}

.form-tip, .form-action
{
	color: #aaa;
	font-size: 80%;
}

.form-action
{
	position: absolute;
	right: 0px;
	top: 8px;
	display: inline-block;
}

input.mandatory,
textarea.mandatory
{
	background-color: #ffefe8;
	border: solid 1px #888;
}

.user-detail,
.group-detail
{
	background-color: rgba(225,225,225,0.5);
	border: solid 1px rgba(205,205,205,0.7);
	padding: 20px;
	margin: 10px 0;
}

.user-detail span,
.user-detail code,
.group-detai span,
.group-detail code
{
	display: inline-block;
}

.list--user
{
	border-top: double 3px #ddd;
	list-style: none;
	list-style-image: none;
	padding: 0;
}

.list--user li
{
	position: relative;
	border-bottom: dotted 1px #ccc;
	padding: 8px 0;
}

.list--user li:hover
{
	background-color: rgba(225,225,225,0.5);
}

.list--user .list--field
{
	display: inline-block;
	min-width: 250px;
}

.list--group
{
	border-spacing: 0;
	width: 100%;
	margin: 10px 0;
}

.list--group th
{
	text-align: left;
}

.list--group tr:hover
{
	background-color: rgba(225,225,225,0.5);
}

.group--fields
{
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin: 10px 0;
}

.group--fields .group-field input, 
.group--fields .group-field select
{
	min-width: 0;
}


.group--fields .group-field input[type=text],
.group--fields .group-field input[type=email]
{
	width: 120px;
}


.group--fields .group-field label
{
	min-width: 0;
	text-align: left;
}

.group--fields ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

.group--fields tr
{
	vertical-align: top;
}

.group--fields tr:hover /*nth-child(even)*/
{
	background-color: rgba(205,215,225,0.5);
}

.group--fields tr.group-field
{

}

/*
.group--fields tr:hover
{
	background-color: rgba(225,225,225,0.5);
}
*/

.group--fields th
{
	text-align: left;
}

.group--fields td
{
	padding: 4px;
}

.group--fields input,
.group--fields select,
.group--fields button
{
	margin: 1px -1px;
}

.faux-list
{
	display: block;
	padding: 0 0 0 10px;
}

.faux-list:before
{
	content: "-";
	margin: 0 0 0 -10px;
}

.checkbox-fieldset
{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.checkbox-fieldset .textfield-floating
{
	display: none;
	background: #fff;
	position: absolute;
	padding: 0;
	top: 100%;
	left: 0px;
	z-index: 99;
}

/*
.checkbox-fieldset .textfield-floating input[type=text]
{
	width: 200px;
}
*/
