{% include head.html %}

<!-- Navigation -->
<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">{{ site.title }}</a></h1>
		</li>

		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="active"><a href="#">Summary</a></li>
			<li class="has-dropdown"><a href="#">Groups</a>
				<ul class="dropdown">
					<li><a href="#">Add New</a></li>
					<li><a href="#">Manage Groups</a></li>
				</ul>
			</li>
			<li class="has-dropdown"><a href="#">Views</a>
				<ul class="dropdown">
					<li><a href="#">Add New</a></li>
					<li><a href="#">Manage Views</a></li>
				</ul>
			</li>
			<li class="has-dropdown"><a href="#">Reports</a>
				<ul class="dropdown">
					<li><a href="#">Add New</a></li>
					<li><a href="#">Manage Reports</a></li>
				</ul>
			</li>
		</ul>

		<ul class="right">
			<li class="has-dropdown">
				<a href="#">Settings</a>
				<ul class="dropdown">
					<li><a href="#">Manage Users</a></li>
					<li><a href="#">Manage Roles</a></li>
				</ul>
			</li>
			<li class="has-form"><a>Hi, Adam</a></li>
			<li class="has-form"><a class="button" href="/">Log out</a></li>
		</ul>
	</section>
</nav>

  {{ content }}

{% include footer.html %}