---
layout: login
---

<div id="login" class="row">
    <div class="panel radius columns medium-6 medium-centered">
      <h3 class="text-center"><strong>{{ site.title }}</strong></h3>
      <hr>
      <form action="/main/">
        <div class="row">
          <div class="columns medium-10 medium-centered">
            <label for="username">Username
              <input type="text" id="username">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-10 medium-centered">
            <label class="error" for="password">Password
              <input class="error" type="password" id="password">
               <small class="error">Invalid entry</small>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="columns medium-10 medium-centered">
            <input type="submit" value="Log In" class="button expand">
          </div>
        </div>
      </form>
    </div>
</div>
