---
layout: default
---
<div class="row">
	<div class="columns medium-12">
		<h2>Summary</h2>
		<hr>
	</div>
</div>

<div class="row">
	<div class="columns medium-12">
		<ul class="tabs vertical" data-tab>
			<li class="tab-title active"><a href="#panel-summary-1">Groups <span class="label radius right">3</span></a></li>
			<li class="tab-title"><a href="#panel-summary-2">Reports <span class="label radius right">2</span></a></li>
			<li class="tab-title"><a href="#panel-summary-3">Views <span class="label radius right">0</span></a></li>
		</ul>

		<div class="tabs-content vertical">
			<div class="content active" id="panel-summary-1">
				<h4>Groups list</h4>
				<table class="table-wide">
					<thead>
						<tr>
							<th>Group name</th>
							<th colspan="2">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#">FitnessFirst Leads</a></td>
							<td><span class="label success">Running</span></td>
							<td><a href="#">View leads</a></td>
						</tr>
						<tr>
							<td><a href="#">Seagate Leads</a></td>
							<td><span class="label warning">Paused</span></td>
							<td><a href="#">View leads</a></td>
						</tr>
						<tr>
							<td><a href="#">National University Leads</a></td>
							<td><span class="label success">Running</span></td>
							<td><a href="#">View leads</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="content" id="panel-summary-2">
				<h4>Reports list</h4>
				<table class="table-wide">
						<thead>
							<tr>
								<th>Report</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#">Report 1</a></td>
								<td><span class="label success">Running</span></td>
							</tr>
							<tr>
								<td><a href="#">Report 2</a></td>
								<td><span class="label alert">Stopped</span></td>
							</tr>
						</tbody>
					</table>
			</div>
			<div class="content" id="panel-summary-3">
				<h4>Views list</h4>
				<div class="panel">
					<h4 class="text-center"><strong>There are no views created</strong></h4>
					<button class="button block-centered">Click here to create</button>
				</div>
			</div>
		</div>	
	</div>
</div>	