<footer>
  
</footer>
<script src="{{ "/vendor/foundation/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>