<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>

    <!-- Foundation -->
    <link rel="stylesheet" href="{{ "/vendor/foundation/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/vendor/foundation/css/foundation.css" | prepend: site.baseurl }}">
    
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	

	<script src="{{ "/vendor/foundation/js/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
</head>
